$background_base : #424242;
$background_normal: #363738;
$color_base: #888e9b;

body{
  background: $background_base;
  font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
html,body{
  height: 100%;
  user-select: none;
}
.title-bar{
  height: 30px;
  color: $color_base;
  background: $background_normal;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .right-tool{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 120px;
    .iconfont{
      flex: 1;
      color: $color_base;
      &:hover{
        background: hsla(0,0%,100%,.1);
      }
    }
    .icon-close{
      &:hover{
        background-color: rgba(232,17,35,.9);
      }
    }
  }
}
.img-list-container{
  height: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  .img-list{
    min-height: 100%;
    overflow-x: auto;
  }
  .img-list-item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px 20px 15px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    position: relative;
    > .iconfont{
      position: absolute;
      left: 10px;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
    }
    .icon-success{
      color: #76ff03;
    }
    .icon-failure{
      color: #f44336;
    }
    &:hover{
      background: rgba(255, 255, 255, 0.1);
    }
    &.active{
      background: rgba(255, 255, 255, 0.3)
    }
    .thumb{
      flex: 0 0 40px;
      height: 40px;
      margin-right: 15px;
      font-size: 0;
      border-radius: 4px;
      > img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .content{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      .filename{
        text-overflow: ellipsis;
        line-height: 1.5;
        overflow: hidden;
        white-space: nowrap;
      }
      .text{
        display: flex;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
        .separator{
          margin: 0 3px;
        }
        .compression-ratio{
          margin-left:15px;
          color: #76ff03;
          .iconfont{
            font-size: 10px;
          }
        }
      }
    }
    .btn-box{
      flex: 0 0 90px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(0,0,0,.65);
      > div{
        flex: 1;
        text-align: center;
        .iconfont{
          font-size: 16px;
          color: rgba(255, 255, 255, 0.7);
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}
.drag-box{
  height: 200px;
  width: 300px;
  border: 2px dashed $color_base;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    line-height: 1.5;
    color: #fff;
  }
  .iconfont{
    font-size: 80px;
    color: $color_base;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
}