$background_base : #424242;
$background_normal: #363738;
$color_base: #888e9b;

body{
  background: $background_base;
  font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Noto Sans,Microsoft YaHei,PingFang SC,Hiragino Sans GB,Source Han Sans SC,Source Han Sans CN,Source Han Sans,sans-serif;
}
html,body{
  height: 100%;
  user-select: none;
}
.setting-container{
  background: #fff;
  border-radius: 4px;
  position: fixed;
  width: 360px;
  top: 50%;
  left: 50%;
  padding: 20px;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  z-index: 2;
  label,input{
    display: block;
    outline: none;
  }
  label{
    color: #888e9b;
    margin: 15px 0;
  }
}
.title-bar{
  height: 30px;
  color: $color_base;
  background: $background_normal;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-app-region: drag;
  .right-tool{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    width: 80px;
    -webkit-app-region: no-drag;
    .iconfont{
      flex: 1;
      color: $color_base;
      &:hover{
        background: hsla(0,0%,100%,.1);
      }
    }
    .icon-close{
      &:hover{
        background-color: rgba(232,17,35,.9);
        color: #fff;
      }
    }
  }
}
.top-bar{
  position: absolute;
  top: 30px;
  height: 30px;
  line-height: 30px;
  background: rgba(54, 55, 56, 0.6);
  color: #fff;
  font-size: 20px;
  display: flex;
  left: 0;
  right: 0;
  &-item{
    flex: 0 0 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    &:last-child{
      position: absolute;
      right: 0;
      top: 0;
      opacity: 1;
    }
    &:hover{
      cursor: pointer;
      background: #363738;
    }
  }
}
.img-list-container{
  box-sizing: border-box;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar  
  {  
    width: 8px;  
    height: 8px;  
    background-color: #424242;  
  }
  &::-webkit-scrollbar-track  
  {  
    border-radius: 4px;  
    background-color: #424242;  
  }
  &::-webkit-scrollbar-thumb  
  {  
    border-radius: 4px;  
    background-color: #363738;  
  }
  .img-list{
    min-height: 100%;
    overflow-x: auto;
  }
  .img-list-item{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px 20px 15px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    position: relative;
    > .iconfont{
      position: absolute;
      left: 20px;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
    }
    .icon-success{
      color: #76ff03;
    }
    .icon-failure{
      color: #f44336;
    }
    &:hover{
      background: rgba(255, 255, 255, 0.1);
    }
    &.active{
      background: rgba(255, 255, 255, 0.3)
    }
    .thumb{
      flex: 0 0 40px;
      height: 40px;
      margin-right: 15px;
      font-size: 0;
      border-radius: 4px;
      overflow: hidden;
      > img{
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .content{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      .filename{
        text-overflow: ellipsis;
        line-height: 1.5;
        overflow: hidden;
        white-space: nowrap;
      }
      .text{
        display: flex;
        font-size: 12px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.7);
        .separator{
          margin: 0 3px;
        }
        .compression-ratio{
          margin-left:15px;
          color: #76ff03;
          .iconfont{
            font-size: 14px;
          }
        }
      }
    }
    .btn-box{
      flex: 0 0 90px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(0,0,0,.65);
      > div{
        flex: 1;
        text-align: center;
        height: 100%;
        line-height: 40px;
        &:hover{
          cursor: pointer;
        }
        .iconfont{
          font-size: 16px;
          color: rgba(255, 255, 255, 0.7);
        }
      }
      .base64{
        position: relative;
        width: 30px;
        .text{
          color: #76ff03;
          font-size: 12px;
          position: absolute;
          top: 0;
          width: 60px;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
          visibility: hidden;
          &.show{
            transition: all 0.3s;
            opacity: 1;
            visibility: visible;
            transform: translate(-50%,-20px);
          }
        }
      }
    }
  }
}
.drag-box{
  height: 200px;
  width: 300px;
  border: 2px dashed $color_base;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    line-height: 1.5;
    color: #fff;
    animation: fontColor 2s linear infinite;
  }
  .iconfont{
    font-size: 80px;
    color: $color_base;
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
  }
}

@keyframes fontColor{
  0% {
    color: #fff;
  }
  50% {
    color: #ccc;
  }
  100% {
    color: #fff;
  }
}